<div class="overlay">
  <div class="modal-box">
    <h3>{{ conference.titre }}</h3>

    <table class="table table-hover" *ngIf="conference.keynotes?.length > 0; else noKeynotes">
      <thead>
        <th>Nom</th><th>Prenom</th><th>Email</th><th>Fonction</th>
      </thead>


    <tbody *ngFor="let k of conference.keynotes">
      <tr>
        <td>{{ k.name }}</td>
        <td>{{ k.prenom }}</td>
        <td>{{ k.email }}</td>
        <td>{{ k.fonction }}</td>
      </tr>

    </tbody>
    </table>

    <ng-template #noKeynotes>
      <p style="text-align:center; padding: 15px; color:#555;">
        Aucun keynote associé à cette conférence.
      </p>
    </ng-template>

    <button (click)="close.emit()">Fermer</button>
  </div>
</div>
